body {
    margin: 0;
}

/* ############################## top-header-start */
.header {
    background-color: #1f2937;
    padding: 10px 0px 80px;
}
.logo {
    width: 100px;
}
.logo-top {
    display: flex;
    align-self: flex-end;
}
.top-header {
    display: flex;
    justify-content: space-around;
}

.right-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    font-size: 18px;
    color: #E5E7EB;
}
ul{
    text-decoration: none;
    
}
a:link {
  list-style-type: none;
  text-decoration: none; 
  color: #E5E7EB;
}
a:visited {
    list-style-type: none;
  text-decoration: none; 
  color: #E5E7EB;
}
/* ############################## top-header-end */

/* ############################## bottom-header-start */

.img-bottom {
    max-width: 280px;
}
.bottom-header {
    display: flex;
    justify-content: space-around;

    margin-top: 80px;
    flex: 1;
}
.img-container {
    display: flex;
}

.intro-descrip {
    display: flex;
    flex-flow: column wrap;

    max-width: 400px;
    color: #E5E7EB;
}
.intro-head {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}
.intro-para {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}
.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;

    max-width: 100px;
    padding: 10px;
    border: none ;
    border-radius: 8px;
}

/* ############################## bottom-header-end */

/* ############################## information-start */
#information {
    padding-top: 70px;
    margin: 0px 0px 60px;
}
.img-item-1, .img-item-2, .img-item-3, .img-item-4 {
    width: 160px;

    border: 3px solid #3882F6;
    border-radius: 10px;

}

.item-1, .item-2, .item-3, .item-4 {
    display: flex;
    flex-flow: column wrap;

    width: 180px;
}

.head-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
} 
.img-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 80px;

}

/* ############################## information-end */

/* ############################## quote-start */

#quote-sec {
    background-color: #E5E7EB;
    padding: 100px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;

    width: 950px;
}
.quote-author {
    font-size: 18px;
    font-weight: 900;
    color: #1f2937;

    margin-right: -590px;
}




/* ############################## quote-end */

/* ############################## sign-up-start */

#call {
    /* padding: 90px; */
    margin: 90px 0px;
    display: flex;
    justify-content: center;

}

.call-action {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    gap: 250px;

    width: 800px ;
    border-radius: 8px;
    padding: 20px;
    color: #E5E7EB;
}
.para-1 {
    font-weight: 900;
}
.para-2 {
    margin-top: -10px;
}
.sign-up-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    background-color: #3882F6;
    color: #E5E7EB;

    width: 130px;
    height: 40px;
    padding: 0px 5px;
    border: 2px solid #F9FAF8 ;
    border-radius: 8px;
}

/* ############################## sign-up-end */


/* ############################## footer-start */
.copy {
    display: flex;
    justify-content: center;

    background-color: #1f2937;
    color: #F9FAF8;
    padding: 20px;
}




/* ############################## footer-end */