body {
    margin: 0;
}

/* ############################## top-header-start */
.header {
    background-color: #1f2937;
    padding: 10px 0px 80px;
}
.logo {
    width: 60px;
}
.top-header {
    display: flex;
    justify-content: space-around;

    /* background-color: #1F2937; */
}

.right-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
ul{
    text-decoration: none;
    
}
a:link {
  list-style-type: none;
  text-decoration: none; 
  color: #E5E7EB;
}
a:visited {
    list-style-type: none;
  text-decoration: none; 
  color: #E5E7EB;
}
/* ############################## top-header-end */

/* ############################## bottom-header-start */

.img-bottom {
    max-width: 280px;
}
.bottom-header {
    display: flex;
    justify-content: space-around;

    margin-top: 80px;
    flex: 1;
}
.img-container {
    display: flex;
}

.intro-descrip {
    display: flex;
    flex-flow: column wrap;

    max-width: 400px;
    color: #E5E7EB;
}
.intro-head {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}
.intro-para {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}
.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;

    max-width: 100px;
    padding: 10px;
    border: none ;
    border-radius: 8px;
}

/* ############################## bottom-header-end */